body {
  /* margin: 5% auto;
  background: #f2f2f2;
  color: #444444;
  font-size: 16px;
  line-height: 1.8;
  text-shadow: 0 1px 0 #ffffff;
  max-width: 73%;
  */
  font-family: Roboto, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.hero-container img {
  width: 500px;
  height: 350px;
}

img {
  width: 350px;
  height: 350px;
}

a {
  border-bottom: 1px solid #444444;
  color: #444444;
  text-decoration: none;
}

a:hover {
  border-bottom: 0;
}

.header-container {
  padding: 40px 100px 60px 100px;
  background-color: #1F2937;
  /* display: flex;
  justify-content: space-between;
  gap: 20px; */
}

.header {
  display: flex;
  justify-content: space-between;
}

.header li {
  font-size: 18px;
  color: #E5E7EB;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero-container {
  display: flex;
  /* background-color: #1F2937; */
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.headliner {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.hero-secondary-text {
  color: #E5E7EB;
  font-size: 18px;
  width: 400px;
}

button {
  padding: 8px 24px;
  border: none;
  border-radius: 8px;
  font-weight: 900;
  margin-top: 15px;
  font-size: 26px;
}

.hero button {
  background-color: #3882F6;
  color: #F9FAF8;
}

.action-container button {
  background-color: #3882F6;
  border-style: solid;
  border-width: 1px;
  border-color: #F9FAF8;
  color: #F9FAF8;
}

.info-section {
  display: flex;
  justify-content: center;
  gap: 50px;
  border-top: 100px;
}

.info-headline {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  padding: 50px;
}

.info-container {
  text-align: center;
  padding: 60px 150px 90px 150px;
}

.qoute-section {
  background-color: #E5E7EB;
  padding: 250px;
}

.qoute {
  font-size: 36px;
  font-weight: 300;
}

.qoute-tag {
  display: flex;
  font-size: 26px;
  font-weight: 900;
  justify-content: flex-end;
}

.action-section {
  padding: 200px;
}

.action-container {
  background-color: #3882F6;
  display: flex;
  padding: 100px;
  justify-content: space-between;
  border-radius: 8px;
}

.call-headline {
  font-size: 30px;
  font-weight: 900;
  color: #F9FAF8;
}

.call-text {
  font-size: 26px;
  font-weight: 300;
  color: #F9FAF8;

}

.footer {
  text-align: center;
  font-size: 26px;
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 100px;
}
